# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Lesson_01.iml
# Datasource local storage ignored files
/../../../../../../:\LessonsCSharp\Lesson_01\.idea\.idea.Lesson_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
