<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SetSaveForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="option1" value="False" />
    <add key="option2" value="True" />
  </appSettings>
  <userSettings>
    <SetSaveForm.Properties.Settings>
      <setting name="option1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="option2" serializeAs="String">
        <value>True</value>
      </setting>
    </SetSaveForm.Properties.Settings>
  </userSettings>
</configuration>